body {
    background: linear-gradient(to right, #6a0dad, #7913b1, #8a1bb5, #9b23b9, #ac2bbe, #bd33c2, #ce3bce, #df43df, #e34fef, #e65cff, #e969ff, #ec74ff, #ef80ff, #f28bff, #f496ff, #f7a1ff, #faadff, #fdb8ff, #ffc4ff, #ffd0ff, #ffdbff, #ffe7ff, #fff2ff, #ffffff);
    color: white;
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    animation: animateGradient 30s linear infinite; /* Adjust the duration according to your preference */
}

@keyframes animateGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


/* The rest of your CSS remains unchanged */
#title-wrapper {
    text-align: center;
}

.headline {
    font-size: 4em;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    font-style: italic;
    color: coral;
}

#main-wrapper {
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% + 20px); /* Increasing width progressively */
}

#p5container img {
    width: 800px; /* Set width to match main content */
    height: 300px; /* Set a specific height */
    display: block;
    margin: auto;
}

#footer {
    text-align: center;
    font-size: 0.7em;
    padding-bottom: 40px;
}

.yellow {
    color: gold;
}

.green {
    color: aquamarine;
}

.box-title {
    color: #F8F8FF; /* Light color for better contrast */
}

.rotate {
    animation: rotateAnimation 1.5s ease-in-out forwards;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
